/* main-.main-header new blog form */
.main-header {
    max-width: 400px;
    margin-left: 20px; 
    text-align: left;
      float: left;
  }

  .main-header label {
    text-align: left;
    display: block;
  }

  .main-header h2 {
    font-size: 20px;
    color: #8E793E;
    margin-bottom: 30px;
  }